.ant-tree-node-content-wrapper {
  padding: 0 5px;
}
.ant-tree .ant-tree-treenode {
  padding: 2px 0;
}

.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected,
.ant-tree .ant-tree-checkbox + span.ant-tree-node-selected,
.ant-tree .ant-tree-node-content-wrapper:hover {
  background-color: transparent;
}

.ant-tree-treenode {
  transition: background-color 0.3s;
  border-radius: 6px;
  &:hover {
    background-color: var(--primary-color-hover);
  }
  &:has(.ant-tree-node-content-wrapper.ant-tree-node-selected) {
    background-color: var(--primary-color-bg);
  }
}

// 虚化背景
.ant-drawer-mask {
  backdrop-filter: saturate(50%) blur(4px);
}
